<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Test1</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <!-- Navigation -->
      <nav  id="nav" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      </nav>

    <div id="page-wrapper">
      <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="page-header"> Probando ReactJs con Comentarios</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
          <div id="test">
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <script type="text/babel" src = "js/ReactJs/nav.js">
    </script>

    <script type="text/babel">

      class ImgUser extends React.Component{
        render(){
          return(
            <img className = "img-responsive" src={this.props.src} alt={this.props.name} />
          );
        }
      }

      class Comment extends React.Component{
        render(){
          return (
            <div className = "row">
              <div className = "col-lg-3">
                <ImgUser src="img/profile.jpg" name = "pedro"/>
                <br/>
              </div>
              <div className = "col-lg-6">
                <div className = "panel panel-default">
                  <div className = "panel-heading">
                      <p> Comentario Nro : {this.props.id} </p>
                  </div>
                  <div className = "panel-body">
                    <p> {this.props.children} </p>
                  </div>
                </div>
              </div>
              <div className = "col-lg-3">
              </div>
              <br/>
            </div>
           );
        }
      }

      ReactDOM.render(
        <div>
          <Comment id = "1">Hola</Comment>
          <Comment id = "2"> Como</Comment>
          <Comment id = "3"> Estas</Comment>
          <Comment id = "4"> Marica</Comment>

        </div>,
        document.getElementById('test')
      );

    </script>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      To set up a production-ready React build environment, follow these instructions:
      * https://reactjs.org/docs/add-react-to-a-new-app.html
      * https://reactjs.org/docs/add-react-to-an-existing-app.html

      You can also use React without JSX, in which case you can remove Babel:
      * https://reactjs.org/docs/react-without-jsx.html
      * https://reactjs.org/docs/cdn-links.html
    -->
  </body>
</html>
